leaflet-map {
    position: absolute;
    width: 100%;
    height: 100%;
}

paper-fab {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#mapsToolbar {
    position: absolute;
    margin: 10px;
    right: 0;
    left: 0;
    color: grey;
    background-color: rgba(255, 255, 255, 0.75);
}