<div>
    <!--<app-front-page foo="app-front-page foo"></app-front-page>-->

    <paper-drawer-panel id="drawerPanel" (paper.responsive.change)="ironSelect()">
        <paper-header-panel drawer mode="waterfall-tall">
            <toolbar-profile [user]="user"></toolbar-profile>
            <!-- Drawer Content -->
            <paper-menu class="list" >
                <a [router-link]="['/login']" (click)="toggleDrawer()"
                        [hidden]="user">
                    <iron-icon icon="home"></iron-icon>
                    <span>Login</span>
                </a>

                <a (click)="logout()"
                   [hidden]="!user">
                    <iron-icon icon="home"></iron-icon>
                    <span>Logout</span>
                </a>

                <a [router-link]="['/signup']" (click)="toggleDrawer()">
                    <iron-icon icon="info"></iron-icon>
                    <span>Signup</span>
                </a>

                <a [router-link]="['/maps']" (click)="toggleDrawer()">
                    <iron-icon icon="info"></iron-icon>
                    <span>Maps</span>
                </a>
            </paper-menu>

        </paper-header-panel>

        <paper-header-panel main>
            <paper-toolbar>
                <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                <div>Maps</div>
            </paper-toolbar>
            <router-outlet></router-outlet>
        </paper-header-panel>
    </paper-drawer-panel>

    <paper-toast id="message-toast"
                 duration="1000"
                 [text]="message">
    </paper-toast>

    <iron-localstorage name="mdmap-storage-user" [value]="user"></iron-localstorage>
</div>