<style>@import "user.css";</style>

<masthead-header-panel [masthead-image]="user.mastheadCover.ossKey" *ng-if="ready">
    <paper-toolbar class="tall" toolbar>
        <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
        <div class="flex"></div>
        <paper-icon-button icon="search"></paper-icon-button>
        <paper-icon-button icon="more-vert"></paper-icon-button>
        <div class="bottom title">{{user.name}}</div>

        <paper-fab class="bottom" icon="add"></paper-fab>
    </paper-toolbar>

    <paper-material elevation="1">
        组长 {{user.username}}
    </paper-material>

    <groups [user]="user"></groups>

  <div *ng-for="#album of albums">
    <paper-icon-item>
      <a item-icon [router-link]="['/album', {'id': album.id}]">
        <div class="avatar" ></div>
      </a>
      <paper-item-body two-line>
        <div>{{album.name}}</div>
        <div secondary>{{album.description}}</div>
      </paper-item-body>
    </paper-icon-item>
  </div>

</masthead-header-panel>
